// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@blue: hsl(200, 15%, 60%);

@bright-red: hsl(350, 65%, 60%);
@red: hsl(350, 50%, 60%);

@bright-orange: hsl(20, 70%, 60%);
@orange: hsl(20, 55%, 60%);

@bright-yellow: hsl(50, 75%, 70%);
@yellow: hsl(50, 60%, 70%);
